extends ./layouts/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus excepturi error cumque saepe modi, tempore corrupti quidem! Voluptatum minima voluptas similique rerum expedita facilis corporis officia consequatur, tenetur eaque laborum blanditiis magnam illo illum libero a fuga ab quasi ducimus cum nisi mollitia perferendis repellendus. Recusandae dolore reprehenderit sit facere cum eligendi ipsa odio nostrum.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores temporibus consequatur veniam commodi sunt eligendi? Dolore aut nulla, laborum exercitationem impedit blanditiis reiciendis inventore omnis. Libero iure, nesciunt repudiandae obcaecati id eos dolores reprehenderit, quos, dicta architecto laborum temporibus!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, minus harum aliquam unde excepturi explicabo! Delectus soluta, dignissimos quaerat voluptatibus velit recusandae expedita explicabo similique earum ex non quisquam, sequi nobis nihil tempora quibusdam sapiente!
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint facere in maiores nisi. In, quasi.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro possimus beatae fuga! Ipsam magni neque ipsa cum officia?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, officia! Cumque, sunt.